{% extends "base.html" %}

{% block title %}Blog | ReghtechLab{% endblock %}

{% block content %}

<div class="mb-10">
    <h1 class="text-4xl font-bold text-white mb-3">Field Notes</h1>
    <p class="text-slate-400">
        Tutorials and writeups from real deployments.
    </p>
</div>


<!-- Post from database appears here-->
 <div class="border border-dashed border-slate-700 rounded-lg p-12 text-center">
    <p class="text-slate-500 font-mono">// No posts yet. Coming soon!</p>
 </div>

{% endblock %}